<!doctype html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Random Exercises</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

    <!-- styles -->
    <link rel="stylesheet" href="scripts/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="styles/styles.css">
    <!-- end styles -->

</head>

<body>

<div class="container">

    <h2 class="text-center"><b>Wallethub Exercises</b></h2>
    <hr/>
    <div class="row">
        <p class="well well-default">
            <b>1)</b> Use ui-route to create at least 3 pages that share a single state for loading them. To achieve
            this, have state url parameters by dynamic and load views/controllers based on those parameters.
            Create a method which can load the controller and template of each page on demand, when route changes. Make
            the state url option have 2 parameters with the second one optional (this can be done by using regexp on the
            url parameters) so that one of the pages can load additional information inside another ui-view based on
            that parameter.
        </p>

        <div class="col-md-12">
            <div ng-controller="alphaController">
                <ul class="nav nav-tabs">
                    <li><a ui-sref="home">Home</a></li>
                    <li><a ui-sref="profile">Profile</a></li>
                    <li><a ui-sref="messages">Messages</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <div ui-view></div>
        </div>
    </div>
    <hr/>

    <div class="row">
        <p class="well well-default">
            <b>2)</b> Provide example on how to pass data between page controllers. Have an input field in one page of
            which contents is displayed in the second page. Please do not use $rootScope.
        </p>

        <div class="col-md-6">
            <h4>Controller 1</h4>
            <div ng-controller="betaController">
                Enter
                <input type="text" class="form-control" ng-model="sharingModel" ng-change="saveInService()"/>
                <a ui-sref="switch" class="btn btn-primary">Switch</a>
            </div>
        </div>
        <div class="col-md-6">
            <div ui-view="switch2"></div>
        </div>
    </div>
    <hr/>

    <div ng-controller="tetraController">
        <p class="well well-default">
            <b>4)</b> Create an array of 50 items, each item having
            3 properties. Create an option to sort the array by one or two properties. Make the array be filterable by a
            search input.
        </p>

        <div class="row">
            <div class="col-md-8">
                <p>Items</p>
            </div>
            <div class="col-md-4 text-right">
                <input type="search" placeholder="Search..." class="form-control" ng-model="tetraSearch"/>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                <div class="scrollable">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>
                                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                    Name
                                    <span ng-show="sortType == 'name' && sortReverse"
                                          class="glyphicon glyphicon-arrow-down"></span>
                                    <span ng-show="sortType == 'name' && !sortReverse"
                                          class="glyphicon glyphicon-arrow-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'age'; sortReverse = !sortReverse">
                                    Age
                                    <span ng-show="sortType == 'age' && sortReverse"
                                          class="glyphicon glyphicon-arrow-down"></span>
                                    <span ng-show="sortType == 'age' && !sortReverse"
                                          class="glyphicon glyphicon-arrow-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse">
                                    Email
                                    <span ng-show="sortType == 'email' && sortReverse"
                                          class="glyphicon glyphicon-arrow-down"></span>
                                    <span ng-show="sortType == 'email' && !sortReverse"
                                          class="glyphicon glyphicon-arrow-up"></span>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in tetraItems | filter:tetraSearch | orderBy:sortType:sortReverse">
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.age}}
                            </td>
                            <td>
                                {{item.email}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <div ng-controller="pentaController">
        <p class="well well-default">
            <b>5)</b> Have a directive that is dependent of ngModel,
            that
            restricts the input to numbers only and auto formats the input as a phone number like (541) 754-3010. The
            field must change its format as user types. Do not create a $filter for this directive as that does not mean
            the directive itself is doing the format.
        </p>

        <input type="text" class="form-control" maxlength="16" placeholder="(111) 111-1111" ng-model="numberModel"
               number-format/>
    </div>

    <hr/>

    <div ng-controller="hexaController">
        <p class="well well-default">
            <b>6)</b> Have a directive that is dependent of ngModel,
            that restricts the input to numbers only and auto formats the input into currency, ex: $1,234. The field
            must change its format as user types. Do not create a $filter for this directive as that does not mean the
            directive itself is doing the format.
        </p>

        <input type="text" class="form-control" placeholder="$1,1234" ng-init="priceModel='0'" ng-model="priceModel"
               price-format/>
    </div>

    <hr/>

    <div ng-controller="hectaController">
        <p class="well well-default">
            <b>7)</b> Create 3 number inputs that sum up into an additional field. Editing each of the 3 inputs will
            always update the sum value. The fourth field can also be editable, and whenever user changes this one its
            value must be spread across the other 3 fields.
        </p>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="btn-block">Input#1
                        <input type="number" class="form-control" ng-change="updateResult()" ng-model="hectaInput1"/>
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="btn-block">Input#2
                        <input type="number" class="form-control" ng-change="updateResult()" ng-model="hectaInput2"/>
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="btn-block">Input#3
                        <input type="number" class="form-control" ng-change="updateResult()" ng-model="hectaInput3"/>
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="btn-block">Input#4
                        <input type="number" class="form-control" ng-model="hectaInput4" ng-change="updateAllInputs()"/>
                    </label>
                </div>
            </div>
        </div>

        <hr/>

        <div ng-controller="octaController">
            <p class="well well-default">
                <b>8)</b> Create 3 inputs each with maximum char. length 5. When entering the 5th char. in an input the
                cursor should jump to the next input right after the char. has been inserted. When deleting the 1st
                char. of an input the cursor should jump at the end of previous input right after that char. has been
                deleted.
            </p>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="btn-block">Input#1
                            <input id="octaInput1" type="text" class="form-control" input-jumper next="octaInput2"
                                   prev="octaInput1" ng-model="octaInput1"/>
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="btn-block">Input#2
                            <input id="octaInput2" type="text" class="form-control" input-jumper next="octaInput3"
                                   prev="octaInput1" ng-model="octaInput2"/>
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="btn-block">Input#3
                            <input id="octaInput3" type="text" class="form-control" input-jumper maxlength="4"
                                   prev="octaInput2" ng-model="octaInput3"/>
                        </label>
                    </div>
                </div>
            </div>

            <hr/>
        </div>
    </div>
</body>

<script data-main="js/main" src="scripts/lib/requirejs/require.min.js"></script>

</html>